* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.content {
  width: 55%;
  display: flex;
  flex-direction: column;
}

article {
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-profile-image {
  margin-right: auto;
    width: 5%;
}

.post-date {
  margin-left: auto;
}

footer {
    width: 100%;
    background-color: #777777;
    height: 6rem;
    margin-top: 1rem;
}
